export const environment = {
  production: true,
  FIREBASE_API_KEY : '<%= CF_FIREBASE_API_KEY %>',
  FIREBASE_AUTH_DOMAIN : '<%= CF_FIREBASE_AUTH_DOMAIN %>',
  FIREBASE_DATABASE_URL : '<%= CF_FIREBASE_DATABASE_URL %>',
  FIREBASE_MESSAGING_SENDER_ID : '<%= CF_FIREBASE_MESSAGING_SENDER_ID %>',
  FIREBASE_PROJECT_ID : '<%= CF_FIREBASE_PROJECT_ID %>',
  FIREBASE_STORAGE_BUCKET : '<%= CF_FIREBASE_STORAGE_BUCKET %>'
};
